.carousel {
  display: flex;
  height: toRem(450);

  &__nav {
    cursor: pointer;
    fill: var(--primary-color);
    height: toRem(20);
    position: relative;
    top: toRem(150);
    width: toRem(20);
  }

  &__nav-prev {
    margin-left: calc(var(--spacer-5xl) * -1);
    margin-right: var(--spacer-l);
    transform: rotate(90deg);

    @include mobile-only {
      margin-left: calc(var(--spacer-3xl) * -1);
      margin-right: var(--spacer-s);
    }
  }

  &__nav-next {
    margin-left: var(--spacer-l);
    margin-right: calc(var(--spacer-5xl) * -1);
    transform: rotate(-90deg);

    @include mobile-only {
      margin-left: var(--spacer-s);
      margin-right: calc(var(--spacer-3xl) * -1);
    }
  }
}
