.dropdown-wrapper {
  background-color: var(--color-white);
  border-radius: var(--border-radius-xs);
  box-shadow: 0 toRem(10) toRem(30) var(--shadow);
  padding: var(--spacer-s) 0;
  position: absolute;
  top: 4.8rem;
  transform: translateX(-25%);
  z-index: var(--z-dropdown);

  &::before {
    border: var(--spacer-m) solid transparent;
    border-bottom-color: var(--color-white);
    content: '';
    left: 50%;
    position: absolute;
    top: -3.2rem;
    transform: translateX(-50%);
  }

  .dropdown__list {
    @include reset-list-style;
  }

  .dropdown__link {
    color: var(--color-purple-400);
    font-size: var(--font-size-s);
    padding: var(--spacer-m) var(--spacer-l);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: var(--color-grey-100);
    }

    &:focus-visible {
      background-color: var(--color-grey-100);
      border-radius: 0;
      outline: 0.2rem solid var(--color-purple-400);
      outline-offset: -0.2rem;
    }
  }
}

.dropdown-wrapper-overlay {
  background-color: var(--color-white);
  border-radius: initial;
  box-shadow: none;
  margin-top: var(--spacer-xxl);
  padding: 0;
  position: static;
  transform: none;
  z-index: var(--z-dropdown);

  &::before {
    border: 0;
    border-bottom: 0;
    content: none;
    left: none;
    position: none;
    top: none;
    transform: none;
  }
}
