.academy {
  display: flex;
  flex-direction: column;

  @include tablet-landscape {
    align-items: center;
    text-align: center;
  }

  &--inverted {
    align-items: flex-end;
  }

  &__title {
    @include heading-3;

    margin: 0 0 var(--spacer-4xl);
    white-space: nowrap;

    @include tablet-landscape {
      white-space: unset;
    }
  }

  &__text {
    @include paragraph;

    font-size: var(--font-size-m);
    line-height: var(--line-height-l);
    margin: 0 0 var(--spacer-6xl);
    width: 90%;
    word-wrap: break-word;
  }

  &__link {
    align-self: flex-end;
    display: flex;

    @include tablet-landscape {
      align-self: unset;
    }
  }
}
