.date-item {
  align-items: center;
  background-color: var(--color-white);
  border: var(--border-width-m) solid var(--primary-color);
  border-radius: var(--border-radius-xs);
  color: var(--primary-color);
  display: flex;
  height: toRem(50);
  line-height: var(--line-height-l);

  &__date {
    border-right: var(--border-width-m) solid var(--primary-color);
    display: flex;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    justify-content: center;
    padding: 0 var(--spacer-m);
    width: toRem(60);

    &--double {
      width: toRem(100);
    }
  }

  &__text {
    display: flex;
    padding: 0 var(--spacer-m);
  }
}

.date-container {
  display: flex;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    line-height: var(--line-height-l);

    &--day {
      display: flex;
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-bold);
    }

    &--month {
      display: flex;
    }

    &--line {
      display: flex;
      padding: 0 toRem(4);
    }

    &--end-date {
      align-items: flex-end;
      flex-direction: row;
    }
  }
}

.text-container {
  align-items: center;
  display: flex;
  gap: var(--spacer-s);
  justify-content: center;

  &__icon {
    fill: var(--primary-color);
    height: toRem(20);
    width: toRem(14);
  }

  &__paragraph {
    margin: 0;
  }
}
