.step-container {
  display: flex;
  gap: toRem(12);
  justify-content: flex-start;
  padding-bottom: var(--spacer-xl);

  &--inverted {
    gap: 0;
    justify-content: flex-end;
  }

  &--1 {
    grid-row-end: span 2;
  }

  &--2 {
    grid-column-start: 2;
    grid-row-end: span 2;
    grid-row-start: 2;

    @include desktop-small {
      grid-column-start: 1;
      grid-row-end: span 2;
      grid-row-start: 3;
    }
  }

  &--3 {
    grid-row-end: span 2;
    grid-row-start: 3;

    @include desktop-small {
      grid-row-end: span 2;
      grid-row-start: 5;
    }
  }

  &--4 {
    grid-column-start: 2;
    grid-row-end: span 2;
    grid-row-start: 4;

    @include desktop-small {
      grid-column-start: 1;
      grid-row-end: span 2;
      grid-row-start: 7;
    }
  }

  @include desktop-small {
    align-items: center;
    flex-direction: column;
    gap: toRem(30);
    justify-content: center;
    padding-bottom: toRem(60);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  order: 1;
  width: 67%;

  &--inverted {
    order: 2;
    text-align: right;

    @include desktop-small {
      order: 1;
    }
  }

  &__title {
    @include heading-3;
    @include word-wrap;

    border-bottom: 2px solid var(--primary-color);
    margin: 0;
    padding-bottom: var(--spacer-m);
    padding-top: calc(80px - ((var(--spacer-m)) + (var(--font-size-l))));

    @include desktop-small {
      padding-top: 0;
      text-align: center;
    }

    &--2 {
      @media screen and (max-width: 1149px) {
        padding-top: 0;
      }
    }

    &--3 {
      @media screen and (max-width: 1349px) {
        padding-top: 0;
      }
    }

    &--4 {
      @media screen and (max-width: 1190px) {
        padding-top: 0;
      }
    }
  }

  &__paragraph {
    @include paragraph;
    @include word-wrap;

    margin: 0;
    padding-top: var(--spacer-xl);

    @include desktop-small {
      text-align: center;
    }
  }

  @include desktop-small {
    width: 100%;
  }
}

.image-container {
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  margin: 0;
  order: 2;
  width: fit-content;

  &--inverted {
    justify-content: flex-end;
    order: 1;

    @include desktop-small {
      justify-content: center;
      order: 2;
    }
  }

  @include desktop-small {
    justify-content: center;
    width: 100%;
  }

  @include mobile-only {
    display: none;
  }

  &__image {
    height: toRem(160);

    @include desktop-small {
      height: toRem(160);
    }
  }
}
