.steps-section {
  position: relative;
  width: 100%;

  &__steps-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 20%);

    @include desktop-small {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
  }

  &__path {
    height: toRem(630);
    left: toRem(-50);
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: toRem(250);
    transform: translateY(-50%);
    z-index: var(--z-paths);

    @include desktop-small {
      display: none;
    }
  }

  &__particles-top {
    height: toRem(300);
    position: absolute;
    right: toRem(-10);
    top: toRem(-140);
    width: 35%;
    z-index: var(--z-particles);
  }

  &__particles-bottom {
    bottom: toRem(-150);
    height: toRem(300);
    left: toRem(20);
    position: absolute;
    width: 40%;
    z-index: var(--z-particles);
  }
}
