.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &__main {
    margin: 0 auto;
    max-width: 1440px;
    padding: var(--spacer-5xl) toRem(80);

    @include mobile-only {
      padding: var(--spacer-5xl);
    }
  }
}
