.admission-section-wrapper {
  padding: toRem(190) 0;

  @include mobile-only {
    padding: toRem(150) 0;
  }
}

.media-section-wrapper {
  padding: toRem(190) 0 toRem(138);
}

.steps-section-wrapper {
  padding-top: toRem(230);
}
