:root {
  /* Colors */
  --color-purple-100: hsla(244, 67%, 95%);
  --color-purple-150: hsla(244, 67%, 88%);
  --color-purple-350: hsl(245, 36%, 49%);
  --color-purple-400: hsl(245, 46%, 39%);
  --color-light-purple-300: hsl(243, 97%, 72%);
  --color-light-purple-400: hsl(244, 97%, 65%);
  --color-light-purple-500: hsl(244, 66%, 55%);
  --color-blue-100: hsl(218, 84%, 70%);
  --color-blue-150: hsl(191, 82%, 49%);
  --color-blue-200: hsl(218, 84%, 62%);
  --color-blue-300: hsl(218, 57%, 52%);
  --color-blue-350: hsl(218, 90%, 48%);
  --color-blue-400: hsl(218, 100%, 38%);
  --color-green-100: hsl(171, 70%, 40%);
  --color-green-200: hsl(171, 100%, 30%);
  --color-green-300: hsl(171, 100%, 24%);
  --color-green-350: hsl(187, 69%, 31%);
  --color-green-400: hsl(187, 79%, 21%);
  --color-red-100: hsl(344, 86%, 62%);
  --color-red-150: hsl(342, 100%, 51%);
  --color-red-200: hsl(344, 85%, 52%);
  --color-red-300: hsl(344, 79%, 42%);
  --color-red-350: hsl(344, 90%, 45%);
  --color-red-400: hsl(344, 100%, 35%);
  --color-grey-100: hsl(270, 11%, 96%);
  --color-grey-150: hsl(0, 0%, 80%);
  --color-grey-200: hsl(0, 0%, 53%);
  --color-grey-300: hsl(0, 0%, 36%);
  --color-grey-400: hsl(247, 13%, 27%);
  --color-accent-orange-400: hsl(29, 93%, 63%);
  --color-accent-green-300: hsl(164, 79%, 50%);
  --color-accent-green-400: hsl(141, 59%, 51%);
  --color-transparent-black: hsla(0, 0%, 0%, 0.4);
  --color-white: hsl(0, 0%, 100%);

  /* Shadows */
  --shadow: hsla(0, 0%, 0%, 0.15);

  /* Border */
  --border-width-s: 0.1rem;
  --border-width-m: 0.2rem;
  --border-width: var(--border-width-m); /* alias for --border-width-m */

  /* Border radius */
  --border-radius-xs: 0.8rem;
  --border-radius-s: 1.6rem;
  --border-radius-m: 2.4rem;
  --border-radius-l: 4.8rem;
  --border-radius: var(--border-radius-l); /* alias for --border-radius-l */

  /* Typography */
  --font-family-base: 'Raleway', sans-serif;
  --font-family-headline: 'Montserrat', sans-serif;
  --font-family: var(--font-family-base); /* alias for --font-family-base */

  /* Font size */
  --font-size-s: 1.4rem;
  --font-size-m: 1.8rem;
  --font-size-l: 3.2rem;
  --font-size-xl: 3.8rem;
  --font-size-xxl: 4.8rem;
  --font-size: var(--font-size-m); /* alias for --font-size-m */

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-m: 1.14;
  --line-height-l: 1.17;
  --line-height-xl: 1.22;

  /* Spacers */
  --spacer-s: 0.8rem;
  --spacer-m: 1.6rem;
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem;
  --spacer-xxl: 2.8rem;
  --spacer-3xl: 3rem;
  --spacer-4xl: 3.4rem;
  --spacer-5xl: 4rem;
  --spacer-6xl: 5.2rem;
  --spacer-7xl: 6rem;
  --spacer-shadow: var(--spacer-l);
  --spacer: var(--spacer-m); /* alias for --spacer-m */

  /* Z-indexes */
  --z-particles: -5;
  --z-illustrations: -4;
  --z-paths: -3;
  --z-dropdown: 1;
  --z-header: 10;
  --z-overlay: 1000;
  --z-modal: 100;
}
