.academy-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-margin-top: toRem(200);
  width: 100%;

  @include desktop-small {
    scroll-margin-top: toRem(100);
  }

  @include tablet-landscape {
    gap: toRem(100);
    scroll-margin-top: toRem(220);
  }

  @include tablet-portrait {
    scroll-margin-top: toRem(250);
  }

  @include mobile-only {
    gap: 0;
    scroll-margin-top: toRem(200);
  }
}
