.promo-home__img {
  margin: 0;
  padding: var(--spacer-7xl) 0 0;
  width: 50%;

  @include tablet-landscape {
    width: 35%;
  }

  @include tablet-portrait {
    margin-top: var(--spacer-m);
    width: 60%;
  }

  @include mobile-only {
    display: none;
  }
}
