.gallery {
  display: grid;
  gap: toRem(40);
  grid-auto-rows: toRem(218);
  grid-template-areas:
    'cell-1  cell-2  cell-2  cell-3'
    'cell-4  cell-5  cell-6  cell-6';
  grid-template-columns: repeat(4, 1fr);
  margin-top: var(--spacer-3xl);

  &--1-item {
    grid-template-areas: '. cell-1  cell-1 .';
    grid-template-columns: repeat(4, 1fr);
  }

  &--2-items {
    grid-template-areas: 'cell-1  cell-2';
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-items {
    grid-template-areas: 'cell-1  cell-2  cell-3';
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-items {
    grid-template-areas:
      'cell-1  cell-2'
      'cell-3  cell-4';
    grid-template-columns: repeat(2, 1fr);
  }

  &--5-items {
    grid-template-areas:
      'cell-1  cell-2  cell-2  cell-3'
      'cell-4  cell-4  cell-5  cell-5';
    grid-template-columns: repeat(4, 1fr);
  }
}

.media-item {
  cursor: pointer;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  width: 100%;
}

.media-container {
  align-items: center;
  background: var(--color-white);
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 0 var(--border-width-m) var(--primary-color),
    toRem(-20) toRem(20) 0 0 var(--color-grey-100);
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;

  &:hover .media-item {
    opacity: 0.9;
    transform: scale(1.1);
  }

  @media (prefers-reduced-motion: reduce) {
    &:hover .media-item {
      transform: scale(1);
    }
  }
}

.media-container-1 {
  grid-area: cell-1;
}

.media-container-2 {
  grid-area: cell-2;
}

.media-container-3 {
  grid-area: cell-3;
}

.media-container-4 {
  grid-area: cell-4;
}

.media-container-5 {
  grid-area: cell-5;
}

.media-container-6 {
  grid-area: cell-6;
}

.video-controls {
  align-items: center;
  display: flex;
  height: toRem(90);
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  width: toRem(90);
}

.play-button {
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  stroke: var(--primary-color);
  stroke-width: 2px;
  text-decoration: none;
  transition: opacity 0.3s;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }
}

@include desktop {
  .gallery {
    grid-template-areas:
      'cell-1  cell-2'
      'cell-3  cell-4'
      'cell-5  cell-6';
    grid-template-columns: repeat(2, 1fr);

    &--1-item {
      grid-template-areas: '. cell-1  cell-1 .';
      grid-template-columns: repeat(4, 1fr);
    }

    &--2-item {
      grid-template-areas: 'cell-1  cell-2';
      grid-template-columns: repeat(2, 1fr);
    }

    &--3-items {
      grid-template-areas: 'cell-1  cell-2  cell-3';
      grid-template-columns: repeat(3, 1fr);
    }

    &--4-items {
      grid-template-areas:
        'cell-1  cell-2'
        'cell-3  cell-4';
      grid-template-columns: repeat(2, 1fr);
    }

    &--5-items {
      grid-template-areas:
        'cell-1  cell-2  cell-3'
        'cell-4  cell-5  cell-5';
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include tablet-landscape {
  .gallery {
    &--3-items {
      grid-template-areas:
        'cell-1  cell-2'
        'cell-3  cell-3';
      grid-template-columns: repeat(2, 1fr);
    }

    &--4-items {
      grid-template-areas:
        'cell-1  cell-2'
        'cell-3  cell-4';
      grid-template-columns: repeat(2, 1fr);
    }

    &--5-items {
      grid-template-areas:
        'cell-1  cell-2'
        'cell-3  cell-4'
        'cell-5  cell-5';
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include tablet-portrait {
  .gallery {
    gap: toRem(35);

    .media-container {
      box-shadow: 0 0 0 var(--border-width-m) var(--primary-color),
        toRem(-15) toRem(15) 0 0 var(--color-grey-100);
    }

    &--1-item {
      grid-template-areas: '. cell-1 cell-1 cell-1 .';
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@include mobile-only {
  .gallery {
    grid-template-areas:
      'cell-1'
      'cell-2'
      'cell-3'
      'cell-4'
      'cell-5'
      'cell-6';
    grid-template-columns: 1fr;

    &--1-item {
      grid-template-areas: 'cell-1';
      grid-template-columns: 1fr;
    }

    &--2-items {
      grid-template-areas:
        'cell-1'
        'cell-2';
      grid-template-columns: 1fr;
    }

    &--3-items {
      grid-template-areas:
        'cell-1'
        'cell-2'
        'cell-3';
      grid-template-columns: 1fr;
    }

    &--4-items {
      grid-template-areas:
        'cell-1'
        'cell-2'
        'cell-3'
        'cell-4';
      grid-template-columns: 1fr;
    }

    &--5-items {
      grid-template-areas:
        'cell-1'
        'cell-2'
        'cell-3'
        'cell-4'
        'cell-5'
        'cell-6';
      grid-template-columns: 1fr;
    }
  }
}
