.media-section {
  &__heading-wrapper {
    position: relative;
  }

  &__heading {
    @include h1-h2;
    @include word-wrap;
  }

  &__path-home {
    left: -4rem;
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 27%;
    z-index: -10;
  }

  &__path-academies {
    left: -6rem;
    position: absolute;
    stroke: var(--primary-color);
    stroke-width: 2px;
    top: 75%;
    width: toRem(133);
    width: 12%;
    z-index: -10;
  }

  &__particles {
    position: absolute;
    right: 6.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 63%;
    z-index: -11;
  }

  @include desktop {
    &__path-home {
      width: 30%;
    }
  }

  @include tablet-landscape {
    &__path-home {
      display: none;
    }

    &__particles {
      right: 4rem;
      width: 60%;
    }
  }

  @include tablet-portrait {
    &__path-home,
    &__path-academies {
      display: none;
    }

    &__particles {
      right: 0;
      width: 100%;
    }
  }
}
