.cards {
  align-items: flex-start;
  display: flex;
  gap: toRem(40);
  margin-left: var(--spacer-l);
  width: 100%;

  @include tablet-portrait {
    gap: toRem(35);
    margin-left: toRem(15);
  }

  &--center {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }
}
