.nav {
  align-items: center;
  display: flex;

  &__list {
    @include reset-list-style;

    align-items: center;
    display: flex;
    gap: var(--spacer-xl);
  }

  &__button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
  }

  &__link {
    @include nav-link;
  }
}

.dropdown-list {
  position: relative;
}

.dropdown-icon {
  width: var(--spacer-m);
}

.nav-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 9.6rem;
  width: 100%;
  z-index: var(--z-overlay);
}

.nav-list-overlay {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--color-white);
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: scroll;
  padding-bottom: var(--spacer-5xl);
  padding-left: var(--spacer-5xl);
  padding-top: var(--spacer-5xl);
  position: fixed;
  right: 0;
  top: 9.6rem;
}
