.academy-item-wrapper {
  position: relative;
}

.academy-particles {
  .academy-particles-shared {
    position: absolute;
    z-index: var(--z-particles);
  }

  &__developers-top {
    height: toRem(40);
    left: 0;
    top: toRem(-60);
    width: toRem(127);

    @include tablet-landscape {
      top: toRem(-40);
      transform: rotate(-45deg);
    }

    @include tablet-portrait {
      left: toRem(-50);
      top: toRem(-20);
      transform: rotate(-45deg);
    }

    @include mobile-only {
      left: toRem(-40);
      transform: rotate(-65deg);
    }
  }

  &__developers-bottom {
    bottom: toRem(0);
    height: toRem(85);
    left: toRem(240);
    width: toRem(191);

    @include tablet-landscape {
      bottom: toRem(200);
      left: unset;
      right: toRem(-20);
    }

    @include tablet-portrait {
      bottom: toRem(260);
      right: toRem(-60);
      transform: rotate(-25deg);
    }

    @include mobile-only {
      bottom: toRem(85);
      right: toRem(-15);
      transform: rotate(-15deg);
    }
  }

  &__testers-top {
    height: topRem(60.83);
    right: toRem(40);
    top: toRem(75);
    width: toRem(124.48);

    @include tablet-landscape {
      bottom: toRem(330);
      left: toRem(-20);
      right: unset;
      top: unset;
    }

    @include tablet-portrait {
      bottom: toRem(380);
      left: toRem(-40);
    }

    @include mobile-only {
      bottom: toRem(160);
      left: toRem(-25);
      transform: rotate(25deg);
    }
  }

  &__testers-bottom {
    bottom: 0;
    height: toRem(86);
    right: toRem(280);
    width: toRem(229.42);

    @include desktop-small {
      right: toRem(210);
    }

    @include tablet-landscape {
      bottom: unset;
      right: toRem(10);
      top: toRem(70);
      transform: rotate(20deg);
    }

    @include tablet-portrait {
      right: toRem(-30);
      top: toRem(90);
    }

    @include mobile-only {
      top: toRem(110);
    }
  }

  &__front-end-top {
    height: toRem(34.31);
    right: toRem(39);
    top: toRem(140);
    width: toRem(98.65);

    @include desktop {
      top: toRem(115);
    }

    @include tablet-landscape {
      right: toRem(-20);
      top: toRem(340);
      transform: rotate(-35deg);
    }

    @include tablet-portrait {
      right: toRem(-32);
      top: toRem(410);
    }

    @include mobile-only {
      right: toRem(-50);
      top: toRem(460);
      transform: rotate(-75deg);
    }
  }

  &__front-end-bottom {
    bottom: toRem(-40);
    height: toRem(67.76);
    right: toRem(220.58);
    width: toRem(284.76);

    @include tablet-landscape {
      bottom: unset;
      left: toRem(-40);
      right: unset;
      top: toRem(120);
      transform: rotate(-30deg);
    }

    @include tablet-portrait {
      left: toRem(-60);
      top: toRem(110);
    }

    @include mobile-only {
      left: toRem(-110);
      top: toRem(180);
      transform: rotate(-56deg);
    }
  }

  &__kids-top {
    height: toRem(100.76);
    left: toRem(378.94);
    top: toRem(50);
    width: toRem(139.48);

    @include tablet-landscape {
      left: unset;
      right: toRem(-30);
      top: toRem(80);
      transform: rotate(65deg);
    }

    @include mobile-only {
      right: toRem(-40);
      top: toRem(80);
      transform: rotate(95deg);
    }
  }

  &__kids-bottom {
    height: toRem(354.56);
    left: toRem(106.78);
    top: toRem(350);
    width: toRem(441.72);

    @include desktop {
      left: toRem(35);
    }

    @include desktop-small {
      top: toRem(330);
      width: toRem(350);
    }

    @include tablet-landscape {
      height: toRem(84.83);
      left: toRem(-120);
      top: toRem(260);
      transform: rotate(90deg);
      width: toRem(298);
    }

    @include tablet-portrait {
      left: toRem(-170);
    }

    @include mobile-only {
      left: toRem(-130);
      top: toRem(400);
      transform: rotate(72deg);
    }
  }
}
