.testimonial {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  max-width: toRem(321);
  padding: toRem(35) toRem(30);
  text-align: center;

  &__photo {
    border-radius: 50%;
    height: toRem(78);
    margin: 0 0 toRem(2);
    width: toRem(78);
  }

  &__quotation {
    fill: var(--primary-color);
    height: toRem(17);
    margin: 0;
    width: toRem(20);

    &--before {
      align-self: start;
    }

    &--after {
      align-self: end;
    }
  }

  &__message {
    font-size: var(--font-size-s);
    line-height: var(--line-height-l);
    margin: toRem(18) 0;
    text-align: left;
  }

  &__read-more {
    background-color: var(--color-white);
    border: var(--color-white);
    border-radius: var(--border-radius-l);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-l);
    padding: 0;
    text-decoration: underline;

    &:hover {
      color: var(--button-hover-color);
    }

    &:active {
      color: var(--button-active-color);
    }

    &:focus-visible {
      outline: toRem(4) dashed var(--button-focus-tab-color);
      outline-offset: 0;
    }
  }

  &__graduate-info {
    line-height: var(--line-height-m);
  }

  &__graduate-name {
    font-size: toRem(20);
    font-weight: var(--font-weight-bold);
    margin: toRem(10) 0 toRem(7);
  }

  &__academy {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-regular);
    margin: 0;
  }
}
